{{ define "main" }}
  {{ .Content }}
  {{/* Filter pages by language and show only posts for the homepage */}}
  {{ $pages := where site.RegularPages "Lang" .Site.Language.Lang }}
  {{ $posts := where $pages "Section" "posts" }}
  <div class="post-list">
  {{ range $posts }}
    <article class="post-row">
      <div class="post-title">
        <a href="{{ .RelPermalink }}">{{ if .LinkTitle }}{{ .LinkTitle }}{{ else }}{{ .Title }}{{ end }}</a>
      </div>
  <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ if eq .Site.Language.Lang "fa" }}{{ partial "toPersianDigits.html" (.Date.Format "2006-01-02") }}{{ else }}{{ .Date.Format "2006-01-02" }}{{ end }}</time>
    </article>
  {{ else }}
    <p>No posts available in this language.</p>
  {{ end }}
  </div>
{{ end }}
