<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
{{- /* Compute a localized page title for section / taxonomy pages and a localized site title */ -}}
{{- $pageTitle := "" -}}
{{- $siteTitle := site.Title -}}
{{- if eq .Site.Language.Lang "fa" -}}
	{{- $siteTitle = "توهم" -}}
{{- else if eq .Site.Language.Lang "fr" -}}
	{{- $siteTitle = "Hallucinations" -}}
{{- else if eq .Site.Language.Lang "ja" -}}
	{{- $siteTitle = "ハルシネーションズ" -}}
{{- end -}}
{{- if .IsHome -}}
	{{- $pageTitle = site.Title -}}
{{- else -}}
	{{- /* Section pages (e.g. /posts/) */ -}}
	{{- if or (eq .Kind "section") (eq .Kind "taxonomy") (eq .Kind "taxonomyTerm") -}}
		{{- if eq .Site.Language.Lang "fa" -}}
			{{- if eq .Section "posts" -}}
				{{- $pageTitle = "نوشته‌ها" -}}
			{{- else if in .Permalink "/tags" -}}
				{{- $pageTitle = "برچسب‌ها" -}}
			{{- else -}}
				{{- $pageTitle = .Title -}}
			{{- end -}}
		{{- else if eq .Site.Language.Lang "fr" -}}
			{{- if eq .Section "posts" -}}
				{{- $pageTitle = "Articles" -}}
			{{- else if in .Permalink "/tags" -}}
				{{- $pageTitle = "Étiquettes" -}}
			{{- else -}}
				{{- $pageTitle = .Title -}}
			{{- end -}}
		{{- else if eq .Site.Language.Lang "ja" -}}
			{{- if eq .Section "posts" -}}
				{{- $pageTitle = "投稿" -}}
			{{- else if in .Permalink "/tags" -}}
				{{- $pageTitle = "タグ" -}}
			{{- else -}}
				{{- $pageTitle = .Title -}}
			{{- end -}}
		{{- else -}}
			{{- $pageTitle = .Title -}}
		{{- end -}}
	{{- else -}}
		{{- $pageTitle = .Title -}}
	{{- end -}}
{{- end -}}
<title>{{ $pageTitle }} | {{ $siteTitle }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
